.gInputButton ::ng-deep.mat-icon-button {
       width: 20px !important;
       height: 18px !important;
       line-height: 20px !important;
   }

   ::ng-deep.mat-progress-spinner svg,
   .mat-progress-spinner {
       height: 60px !important;
   }
   
   ::ng-deep.mat-progress-spinner circle,
   .mat-spinner circle {
       stroke: var(--button-save-color);
       stroke-width: 10% !important;
       stroke-dasharray: 50px !important;
   }
   ::ng-deep.gDialogBox{
    resize: both;
.mat-dialog-container {
    padding: 5px !important;
    border-radius: 15px !important;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    background-color: #ffffff !important;
    .gDialogContainer {
        box-shadow: none !important;
        position: relative;
        border-radius: 0 0 15px;
        // background-color: var(--table-actionHeader-bg) !important;
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 23%);
        padding: 10px;
        backdrop-filter: blur(10px);
    }
    .gDialogTitle {
        background-color: var(--dialog-title-bg);
        padding: 2px 5px;
        font-size: 18px !important;
        margin-bottom: 0 !important;
        font-weight: 500 !important;
        font-family: system-ui !important;
        text-align: center;
        color: #000;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0 0;
    }
    .gDialogCloseButton {
        color: #000;
        padding: 0;
        font-weight: 900;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        min-width: 30px;
        background-color: var(--button-dialog-close-bg-color);
        line-height: 29px;
        border: 1px solid transparent;
        .mat-icon {
            font-size: 22px;
            line-height: 22px !important;
        }
        .fa {
            font-size: 22px;
            line-height: 22px !important;
        }
    }
    .gDialogCloseButton:hover {
        background-color: var(--button-dialog-close-hover-bg-color);
        color: #fff;
    }
}
}