.gtoggleFooter {
    background-color: var(--table-primary-bg) !important;
    max-height: 25px !important;
    height: 25px !important;
    td {
        background-color: var(--table-primary-bg);
        font-weight: 600;
        border-bottom: none !important;
        white-space: nowrap;
        line-height: 22px;
        height: 22px;
        text-transform: capitalize;
        font-family: system-ui;
        font-size: 12px;
        padding: 1px 10px !important;
        color: #04003a !important;
        font-weight: 700 !important;
        border-bottom: none !important;
        z-index: 3;
    }
}

::ng-deep.mat-progress-spinner svg,
.mat-progress-spinner {
    height: 60px !important;
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    // stroke:var(--cardContaier-bg);
    stroke-width: 10% !important;
    stroke-dasharray: 50px !important;
}

.gInnerTable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #fff !important;
}

.gInnerTable::-webkit-scrollbar-track {
    background: #fff !important;
}

.gInnerTable::-webkit-scrollbar-thumb {
    background:var(--cardContaier-bg)!important;
    border-radius: 15px;
}

.gInnerTable::-webkit-scrollbar-thumb:hover {
    background:var(--bg-header) !important;
}

::ng-deep.mat-progress-spinner circle, .mat-spinner circle {
    stroke:var(--button-input-color) !important;
}