.SkeltonLoader {
    // margin-top: -8px;
    border: 1px solid #e3f0ef;
    border-top: 0;
    border-radius: 10px;
}

.toggleFooter {
    background-color: var(--table-actionHeader-bg) !important;
    td {
        background-color: #e3f0ef;
        font-weight: 600;
        border-bottom: none !important;
        white-space: nowrap;
        line-height: 22px;
        height: 22px;
        text-transform: capitalize;
        font-family: system-ui;
        font-size: 12px;
        padding: 1px 10px !important;
        color: #04003a !important;
        font-weight: 700 !important;
        border-bottom: none !important;
        z-index: 3;
    }
}

::ng-deep.mat-progress-spinner svg,
.mat-progress-spinner {
    height: 60px !important;
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--table-actionHeader-bg);
    stroke-width: 10% !important;
    stroke-dasharray: 50px !important;
}

tr.mat-footer-row {
    height: 25px !important;
}

.HideFooter {
    display: none;
}