::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #1A194D !important;
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1A194D !important;
}

::ng-deep.mat-checkbox-frame {
    border: 1px solid #1A194D !important;
}

::ng-deep.mat-checkbox-ripple .mat-ripple-element,
::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1A194D !important;
}