/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap'); */

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    overflow-y: auto;
    }

  .headflex {
    background-color: #FF5733;
    position: fixed;
    text-align: center
    }

  .header {
    flex: 0 0 auto;
    background: #aaa;
    }

  #divBorder {
    padding-top: 20px;
    border: 2px solid rgb(200, 255, 0);
    }

  .content {
    flex: 1 1 auto;
    overflow-x: hidden;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0px;
    }

  .example-container {
    display: flex;
    flex-direction: column;
    }

  /* .example-container > * {
    width: 100%;
    } */

  .footer {
    flex: 0 0 auto;
    background:#FF5733;
    height: 40px;
    }


  .example-spacer {
    flex:1 1 auto;
    color: white;
    text-align: center
    }

  .form-group {
    font-size: 12px;
    }

  .table-container {
    margin-top: 1%;
    }



.form-group {
    font-size: 12px;
    }

  .example-full-width {
    width: 100%;
    }

  .optionlbl {
    font-size: 12px;
    font: bold;
    color: #1C5A85;
    font-weight: bold;
    }

  /* Absolute Center Spinner */
  .loading {
    position: fixed;
    z-index: 999;
    height: 100px;
    width: 100px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }

  /* Transparent Overlay */
   .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    }


  /* Buttons */
  .btnn {
    border:4px solid #26759E;
    -webkit-box-shadow: #878787 0px 2px 2px ;
    -moz-box-shadow: #878787 0px 2px 2px ;
    box-shadow: #878787 0px 2px 2px ;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    font-family:arial, helvetica, sans-serif;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color: #FFFFFF;
    background-color: #3093C7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3093C7), to(#1C5A85));
    background-image: -webkit-linear-gradient(top, #3093C7, #1C5A85);
    background-image: -moz-linear-gradient(top, #3093C7, #1C5A85);
    background-image: -ms-linear-gradient(top, #3093C7, #1C5A85);
    background-image: -o-linear-gradient(top, #3093C7, #1C5A85);
    background-image: linear-gradient(to bottom, #3093C7, #1C5A85);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093C7, endColorstr=#1C5A85);
    }

  .btnn:hover{
    border:4px solid #26759E;
    background-color: #26759E; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759E), to(#133D5B));
    background-image: -webkit-linear-gradient(top, #26759E, #133D5B);
    background-image: -moz-linear-gradient(top, #26759E, #133D5B);
    background-image: -ms-linear-gradient(top, #26759E, #133D5B);
    background-image: -o-linear-gradient(top, #26759E, #133D5B);
    background-image: linear-gradient(to bottom, #26759E, #133D5B);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759E, endColorstr=#133D5B);
    }





/* .modal-content { background-color:#17A2B8 !important; } */
.modal-body { background-color:white !important; }
.modal-header { padding: 0.5rem 0.5rem !important; color: white !important; }
.modal-body .form-group {
  margin-bottom: .5rem;
}
.modal-content{
  border: none;
}
.tableConsDiv {
  width: 100%;
  padding-top: 0px;
}

.tableCons {
  /* table-layout: fixed; */
  width: 100%;
  white-space: nowrap;
  font-family: Tahoma;
	font-size: 10px;
  /* color: #506dce; */
  overflow:auto;
  /* text-overflow: ellipsis; */
}

::ng-deep .cdk-overlay-container {  z-index:2000; }

.option-card {
  border: 0px solid rgb(19 151 132 / 88%);
  /* rgb(19 151 132 / 88%)rgb(19 151 132 / 88%) */
}

.card-body {
  padding:0rem !important
}

.p-2 {
  padding: .2rem!important;
}

.form-group {
  margin-bottom: 0rem;
}


.tablehideScroll {
  /* font-family: Arial, Helvetica, sans-serif; */
   position: relative; width:100%;
z-index: 1; margin: auto; overflow: auto; height: auto;}
.tablehideScroll table { width: 100%; margin: auto; border-bottom: 1px solid #D9E4E6; }
/* .tablehideScroll td { color: #024457; white-space: nowrap; font-size: 12px; border-right: 1px solid #D9E4E6;
  border-left: 1px solid #D9E4E6; } */
/* .tablehideScroll thead th { font-size: 14px; white-space: nowrap; border: 1px solid #FFF;background: #17A2B8; color: #fff; top: 0; font-weight: 400; }
.tablehideScroll tbody tr:nth-child(odd) { background-color: #ffffff !important;} */


.table-scroll {position: relative; width:100%; z-index: 1;
margin: auto;overflow: auto; height: 550px;}
.table-scroll table {width: 100%; margin: auto; border-collapse: separate; border-spacing: 0;}
.table-wrap { position: relative;}
/* .table-scroll td {color: #024457; white-space: nowrap; font-size: 12px; border-right: 1px solid #D9E4E6; border-left: 1px solid #D9E4E6;} */
/* .table-scroll thead th {font-size: 14px;  white-space: nowrap;  border: 1px solid #FFF;  background: #17A2B8;  color: #fff;  position: -webkit-sticky;  position: sticky;  top: 0; font-weight: 400;}
.table-scroll tbody tr:nth-child(odd) { background-color: #ffffff !important;} */


.justify-content-end {
  margin-top: 5px  !important;
}

.onlyview {
  pointer-events: none;
  background-color: #e9ecef;
}

button:disabled, input[type=text]:read-only {
  cursor: no-drop;
  background-color: #d6ddd8 !important;
}