/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap'); */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  overflow-y: auto;
  }

.headflex {
  background-color: #FF5733;
  position: fixed;
  text-align: center
  }

.header {
  flex: 0 0 auto;
  background: #aaa;
  }

#divBorder {
  padding-top: 20px;
  border: 2px solid rgb(200, 255, 0);
  }

.content {
  flex: 1 1 auto;
  overflow-x: hidden;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 0px;
  }

.example-container {
  display: flex;
  flex-direction: column;
  }

/* .example-container > * {
  width: 100%;
  } */

.footer {
  flex: 0 0 auto;
  background:#FF5733;
  height: 40px;
  }


.example-spacer {
  flex:1 1 auto;
  color: white;
  text-align: center
  }

.form-group {
  font-size: 12px;
  }

.table-container {
  margin-top: 1%;
  }



.form-group {
  font-size: 12px;
  }

.example-full-width {
  width: 100%;
  }


/* p {
  font-family: Lato;
}
.position-fixed{
  position: fixed
}

.mat-spacer{
  flex: 1 1 auto;
  color: white

}

.content {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 58px
}

ul#menu li {
  display:inline;
  margin-left: 1%;
} */


.ticket-box {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: orangered;
}

.avatarmenu {
  vertical-align: middle;
  width: 70px;
  height: 50px;
  border-radius: 50%;
}

/********* TICKET LIST START***********/
.search-form .form-group {

  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  margin-right: 4%;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: auto;
  font-size: 14px;
}

.success{
  background-color: #00E676;

}


/**********/

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  color: #aaa;
  display: block;
    width: 1.375rem;
    height: 1.375rem;
    line-height: 1.8rem;
    text-align: center;

}



/****************Ticket List END******************************/

.form-select {
  font-size: 12px;
}




/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 100px;
  width: 100px;
  overflow: show;

  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 }

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}



.tablehideScroll { position: relative; width:100%;z-index: 1; margin: auto; overflow: auto; height: auto;}
.table-scroll {position: relative; width:100%; z-index: 1;
margin: auto;overflow: auto; height: 550px;}
.table-scroll thead th { position: -webkit-sticky;  position: sticky;  top: 0; font-weight: 400;}
/* .table-scroll tbody tr:nth-child(odd) { background-color: white !important;} */


table {
  border-collapse: collapse;
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  font-family: Tahoma;
  font-size: 12px;
  overflow-y: auto;
}



.table-striped > thead > tr > th {
  cursor: pointer;
  position: relative;
}

.table-striped > thead > tr > th.asc:after {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 0px solid transparent;
	border-bottom: 5px solid #333;
}

.table-striped th{ white-space: nowrap; }

table th { font-size: 12px; padding: 0.2rem;}
table td { font-size: 11px; padding: 0.2rem;}


table th { font-size: 13px; padding: 0.2rem;
  background-color: #3b8b98;
    color: #fff;
    font-style: normal;font-family: 'Times New Roman', Times, serif
}
table td { font-size: 12px; padding: 0.2rem;
  color: #004085;
}


.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
} */



#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-2::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.form-group {
  margin-bottom: 0.5rem;
}