.body{
  height: auto;
margin:0!important ;
}

.gDialogTitle1 {
  font-size: 18px !important;
  margin-bottom: 0 !important;
  font-weight: 500 !important;
  font-family: system-ui !important;
  margin-left: 20px;
  color: #000;
  text-transform: capitalize;
}
.gDialogTitleNew{
padding: 12px 5px;
  font-size: 18px !important;
  margin-bottom: 0 !important;
}
.subtotal{
  font-weight: 700;
  }
.cdt{
color: #bf0811;
}
