.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header{
  flex: 0 0 auto;
  background: #aaa;
}

.content{
  flex: 1 1 auto;
  overflow-y: auto;
  margin-left: 10px;
  margin-right: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
}


.footer{
  flex: 0 0 auto;
  background:#FF5733;
  height: 40px;
}

.example-spacer{
  flex:1 1 auto;
}

.example-container {
  width: 100%;
  height: 100%;
}




section {padding:0.3rem;}
.bg-primary {background-color:#007aeb;color:#fff;}
.bg-gray {background-color:#ffe6e6;}

.example-icon {
  padding: 0 14px;
}

material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

/* .example-margin {
     margin:0 1px;
} */

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 100px;
  width: 100px;
  overflow: show;

  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}


