.gWrapper {
    height: calc(100% - 34px);
    padding-top: 0;
}

.gInputButton {
     ::ng-deep.mat-icon-button {
        width: 20px !important;
        height: 18px !important;
        line-height: 20px !important;
    }
}

.mat-button.mat-button-disabled {
    cursor: no-drop;
}

.table:nth-child(7) {
    background: lightgreen;
}