.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    overflow-y: auto;
}

.headflex {
    background-color: #FF5733;
    position: fixed;
    text-align: center
}

.header {
    flex: 0 0 auto;
}

#divBorder {
    padding-top: 20px;
    border: 2px solid rgb(200, 255, 0);
}

.content {
    flex: 1 1 auto;
    overflow-x: hidden;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0px;
    height: calc(100vh - 30px);
}

.example-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
}

.example-container>* {
    width: 100%;
}

.footer {
    flex: 0 0 auto;
    background: #FF5733;
    height: 40px;
}

.example-spacer {
    flex: 1 1 auto;
    color: white;
    text-align: center
}

.form-group {
    font-size: 12px;
}

.table-container {
    margin-top: 1%;
}

.container {
    margin-top: 3%;
    color: #000;
}

.option-card {
    border: none;
}

.container .dclabel {
    font: bold;
    color: #000;
    font-weight: bold;
}

.dclabel {
    font: bold;
    color: #000;
    font-weight: bold;
}

.optionlbl {
    font-size: 12px;
    font: bold;
    color: #000;
    font-weight: bold;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

}

.example-full-width {
    width: 100%;
}

.flex-box-this {
    -webkit-box-pack: justify;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    position: relative;
}

.liner {
    height: 2px;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 35%;
}

.nav.nav-tabs>li>a>span {
    opacity: .3;
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #000;
    font-size: 14px;
    font-family: system-ui;
}

.nav.nav-tabs>li.active>a>span,
.nav.nav-tabs>li:hover>a>span,
.nav.nav-tabs>li:focus>a>span {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    font-size: 25px;
}

.nav-tabs {
    border: none !important;
}

li.active span.round-tabs {
    color: var(--button-save-color);
    border: 2px solid var(--button-save-color);
}

.nav-tabs>li {
    margin-bottom: -6px;
}

.nav-tabs>li.active:after {
    content: " ";
    display: inline-block;
    border: 12px solid transparent;
    border-bottom-color: var(--button-save-color);
    margin-top: -10px;
}

.nav-tabs>li a {
    margin: 0 auto;
    border-radius: 100%;
    padding: 0;
    border: none !important;
}

@media (max-width: 768px) {
    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

.onlineHide {
    pointer-events: none;
}

.onlineView {
    pointer-events: auto;
}

.manualHide {
    pointer-events: none;
}

.manualView {
    pointer-events: auto;
}

.scanHide {
    pointer-events: none;
}

.scanView {
    pointer-events: auto;
}

.btn-space {
    margin-right: 15px;
    font-weight: bold;
    color: #dd0074;
}


/**** table small *********/

.table-hover {
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.table-hover tbody tr:nth-child(even) {
    background-color: rgb(253, 246, 238);
}

.table-hover thead {
    text-indent: 1%;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(252, 241, 228);
    color: #000;
}

.table-hover tbody {
    /* width: 100%; */
    overflow: auto;
    height: auto;
    text-indent: 1%;
    font-size: 12px;
    color: #000;
}

.table-hover td {
    white-space: nowrap;
}

.table-hover tbody tr {
    font-size: 12px;
    line-height: 24px;
}

.table-hover tr {
    border-bottom-color: 1px solid darkblue;
}


/** Print Table***/

.pntLogo {
    max-width: 200px;
    min-width: 170px;
}

.pntAddr {
    color: black;
    font-size: 18px;
}

.pntHead {
    color: black;
    font-size: 20px;
}

.pntsubhead {
    color: black;
    font-size: 16px;
}

.pntdate {
    color: black;
    font-size: 18px;
}

.pntUsr {
    margin-top: 50px;
    font-size: 18px;
}

.pntdc {
    font-size: 18px;
}

.print-table {
    border-color: white;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.print-table thead {
    text-indent: 1%;
    font-size: 16px;
    color: black;
}

.print-table tbody {
    border-color: white;
    border: none;
    overflow: auto;
    height: auto;
    text-indent: 1%;
    font-size: 11px;
    color: black;
}

.print-table tbody tr {
    border-color: white;
    border: none;
    line-height: 24px;
}

.catname {
    font-size: 16px;
    font-weight: bold;
}

.print-table tr.noBorder td {
    border: 0;
}

.print-table tbody tr td {
    font-size: 16px;
}

.print-table tr {
    border-color: white;
    border-bottom-color: 2px solid black;
}

.print-table tfoot tr {
    margin-top: 5%;
}

.print-table tfoot tr td {
    color: black;
    font-size: 20px;
}


/** e-way form Table***/

.ewayHead {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.ewaydate {
    color: black;
    font-size: 18px;
}

.eway-table {
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    border-top: #fff;
}

.eway-table thead {
    border-top: #fff;
    border-color: white;
    text-indent: 1%;
    font-size: 16px;
    color: black;
}

.eway-table thead tr {
    border-top: 1px solid rgb(107, 106, 106);
    border-bottom: 1px solid rgb(107, 106, 106);
}

.eway-table tbody {
    border-top: #fff;
    border-color: white;
    border: none;
    overflow: auto;
    height: auto;
    text-indent: 1%;
    font-size: 11px;
    color: black;
}

.eway-table tbody tr {
    border-top: #fff;
    border-color: white;
    border: none;
    line-height: 13px;
}

.eway-table tr.noBorder td {
    border-top: #fff;
    border-color: white;
    border: 0;
}

.eway-table tr .ltborder {
    border-bottom: #fff;
    border-color: rgb(107, 106, 106);
}

.eway-table tbody tr td {
    font-size: 16px;
}

.eway-table tfoot tr {
    border-top: #fff;
    border-color: white;
    margin-top: 5%;
}

.eway-table tfoot tr td {
    border-top: #fff;
    color: black;
    border-color: white;
    font-size: 20px;
}


/** View Table ***/

.viewLogo {
    max-width: 150px;
    min-width: 120px;
}

.viewAddr {
    color: #000;
    font-size: 12px;
}

.viewHead {
    color: #000;
    font-size: 14px;
}

.viewsubhead {
    color: #000;
    font-size: 10px;
}

.viewdate {
    color: #000;
    font-size: 12px;
}

.viewUsr {
    color: #000;
    margin-top: 30px;
    font-size: 12px;
}

.viewdc {
    color: #000;
    font-size: 12px;
}

.view-Table {
    border-color: white;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.view-Table thead {
    text-indent: 1%;
    font-size: 12px;
    color: #000;
}

.view-Table tbody {
    border-color: white;
    border: none;
    overflow: auto;
    height: auto;
    font-size: 12px;
    color: #000;
}

.view-Table tbody tr {
    border-color: white;
    border: none;
}

.view-Table tr.noBorder td {
    border: 0;
}

.view-Table tbody tr td {
    font-size: 12px;
}

.view-Table tr {
    border-color: white;
    border-bottom-color: 2px solid #000;
}

.view-Table tfoot tr {
    color: #000;
    margin-top: 5%;
}

.view-Table tfoot tr td {
    color: #000;
    font-size: 12px;
}


/*******  snackbar and radio button styles ********/

::ng-deep .red-snackbar {
    top: 50%;
    background: #dd0074;
    color: #FFFF00 !important;
    text-align: center;
    justify-content: center;
}

::ng-deep .red-snackbar .mat-simple-snackbar-action {
    color: #FFFF00 !important;
}

::ng-deep .red-snackbar .mat-simple-snackbar span {
    margin: auto;
    text-align: center;
}

::ng-deep .blue-snackbar {
    background: #2196F3;
    color: white;
    text-align: center;
    justify-content: center;
}

::ng-deep .blue-snackbar .mat-simple-snackbar-action {
    color: white !important;
}

::ng-deep .blue-snackbar .mat-simple-snackbar span {
    margin: auto;
    text-align: center;
}

.mb-5,
.my-5 {
    margin-bottom: 1rem !important;
}

.alert-danger {
    text-align: center;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 999;
    height: 100px;
    width: 100px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
    .btn-ser {
        margin-top: 3%;
    }

    .d-flex {
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    .btn-ser {
        margin-top: 3%;
    }

    .TabInnerContent {
        padding: 10px !important;
    }

}

@media only screen and (min-width:769px) {
    .serchBox {
        margin-left: 33%;
    }

}


/* enable absolute positioning */

.inner-addon {
    position: relative;
}


/* style icon */

.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}


/* align icon */

.left-addon .fa {
    left: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 30px;
}

::ng-deep input:read-only {
    background-color: #c7d1d1a8 !important;
}


@media print {
    .doNotPrint {
        display: none !important;
    }
}

.myCmp {
    font-size: 3.5rem;
}

.cmpsub {
    font-size: 3rem;
}

.cmpAddr {
    font-size: 2rem;
}

.cmpsubhead {
    font-size: 2.5rem;
}

.cmpGst {
    font-size: 2.5rem;
}

.receipt_table {
    font-size: 2rem;
}

.receipt_table {
    border-color: white;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.receipt_table thead {
    text-indent: 1%;
    color: black;
}

.receipt_table tbody {
    border-color: white;
    border: none;
    overflow: auto;
    height: auto;
    text-indent: 1%;
    color: black;
}

.receipt_table tbody tr {
    border-color: white;
    border: none;
    line-height: 24px;
}

.receipt_table tr.noBorder td {
    border: 0;
}

.receipt_table tr {
    border-color: white;
    border-bottom-color: 2px solid black;
}

.receipt_table tfoot tr {
    margin-top: 5%;
}

.receipt_table tfoot tr td {
    color: black;
}

.subcard {
    border-color: #878787;
    background-color: #E9ECEF;
    text-align: right;
}

.card-header {
    background-color: white;
    border-color: white;
    border-bottom-color: white;
}

.collapse-card {
    border-color: white;
    border-bottom-color: white;
}

.background-image-table {
    background: linear-gradient(rgba(209, 208, 208, 0.5), rgba(209, 206, 206, 0.5)), var(--image-url) center center;
}

.subcard {
    border-color: #878787;
    background-color: #E9ECEF;
    text-align: right;
}

.upload-btn {
    width: 100px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 400;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    background-color: #D670D3;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#8F73ED), to(#D670D3));
}

::ng-deep .primary-tooltip {
    color: #fff !important;
    background-color: var(--button-save-color) !important
}

.manualHide {
    pointer-events: none;
}

.manualView {
    pointer-events: auto;
}


/**** table Dc List *********/

.table-dcs {
    font-family: Arial, Helvetica, sans-serif;
}

.table-dcs tbody tr:nth-child(even) {
    background-color: rgb(231, 255, 255);
}

.table-dcs thead {
    text-indent: 1%;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(231, 255, 255);
    color: #000;
}

.table-dcs tbody {
    overflow: auto;
    height: auto;
    text-indent: 1%;
    font-size: 12px;
    color: #000;
}

.table-dcs td {
    white-space: nowrap;
}

.table-dcs tbody tr {
    font-size: 12px;
    line-height: 15px;
}

.table-dcs tr {
    border-bottom-color: 1px solid darkblue;
}


/**** table UNSAVED QRCODE Dc List *********/

.table-qrcodes {
    font-family: Arial, Helvetica, sans-serif;
}

.table-qrcodes thead {
    text-indent: 1%;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(231, 255, 255);
    color: #000;
}

.table-qrcodes tbody {
    overflow: auto;
    height: auto;
    text-indent: 1%;
    font-size: 12px;
    color: #000;
}

.table-qrcodes td {
    white-space: nowrap;
}

.table-qrcodes tbody tr {
    font-size: 12px;
    line-height: 12px;
}

.table-qrcodes tr {
    border-bottom-color: 1px solid darkblue;
}

.option-card2 {
    border: 0px solid rgb(19 151 132 / 88%);
    /* rgb(19 151 132 / 88%)rgb(19 151 132 / 88%) */
}

.option-card2 .card-body {
    padding: 0rem !important
}

.p-2 {
    padding: .2rem !important;
}

.form-group {
    margin-bottom: 0rem;
}

.badge-info {
    color: #fff;
    background-color: var(--button-save-color);
    /* font-size: 0.85em; */
    padding: 5px 10px;
    /* font-weight: 500; */
    line-height: 15px;
    font-family: system-ui;
    font-size: 12px;
}

.subtitle {
    margin: 0 0 0px;
    font-size: 13px;
    font: bold;
    color: #8d6e63;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex,
::ng-deep.mat-form-field-flex {
    border-bottom: 1px solid;
}

::ng-deep .mat-datepicker-toggle {
    color: #0000008a;
}

.form-group {
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .modal-dialog {
        top: 9vh;
        left: 35vw;
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        top: 9vh;
        left: 20vw;
        margin-right: 20%
    }
}

.btn-info {
    color: white !important;
}

.hideshow {
    font-size: 16px !important;
    font-weight: bold;
    color: #fd7e14;
    margin-left: 5px;
}

.grayBtn {
    height: 1.5rem;
    border: 1px solid gray;
    background-color: #e3d8d8;
}

.gcardContainer {
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 23%);
    padding: 10px 20px;
    min-width: 50%;
    border: 0.5px solid rgb(31 38 135 / 23%);
}

::ng-deep.gInputButton {
    .mat-icon-button {
        width: 30px !important;
        height: 18px !important;
        line-height: 20px !important;
        color: #fff !important;
    }
}

::ng-deep.gDeleIcon {
    .mat-icon-button {
        width: 30px !important;
        height: 18px !important;
        line-height: 20px !important;
        color: #fff !important;
    }
}

.gInnerCard {
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 15px;
    min-width: 50%;
    height: 400px;
    padding: 0;
    margin-bottom: 50px;
}

.TabInnerContent {
    background-color: #F4F6FD;
    padding: 34px;
    border-radius: 0 0 15px 15px;
}

.TabCardHeaders {
    background: #FFFFFF;
    box-shadow: 0px 35px 35px -15px rgba(61, 78, 137, 0.21);
    border-radius: 15px 15px 0 0;
    // height: 50px;
    padding: 15px 10px 0 10px;
}

.container {
    max-width: 650px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 48% 52% 60% 40% / 54% 23% 77% 46%;

    background-color: aquamarine;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0px, 35px rgba(61, 78, 137, 0.21);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.18);
}


::ng-deep.mat-toolbar-multiple-rows {
    min-height: 42px !important;
}

::ng-deep.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 42px !important;
}

.gToggleFooter {
    background-color: var(--table-actionHeader-bg) !important;
    max-height: 25px !important;
    height: 25px !important;
}

.gToggleFooter td {
    background-color: var(--table-actionHeader-bg);
    font-weight: 600;
    border-bottom: none !important;
    white-space: nowrap;
    line-height: 22px;
    height: 22px;
    text-transform: capitalize;
    font-family: system-ui;
    font-size: 12px;
    padding: 1px 10px !important;
    color: #04003a !important;
    font-weight: 700 !important;
    border-bottom: none !important;
    z-index: 3;
}

.gInnerTable1 {
    max-height: calc(100vh - 285px);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent !important;
}

.mat-select-panel {
    margin-top: 5px !important;
    border-radius: 10px !important;
    padding: 5px !important;
}

.example-spacer {
    flex: 1 1 auto;
}

.gcardContainerView {
    width: 450px;
    // padding:30px !important;
}

.viewTab1 {
    display: flex;
    justify-content: center;
}

::ng-deep.mat-dialog-container {
    padding: 5px !important;
    border-radius: 15px !important;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    background-color: #ffffff !important;

    .gDialogContainer {
        box-shadow: none !important;
        position: relative;
        border-radius: 0 0 15px;
        // background-color: var(--table-actionHeader-bg) !important;
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 23%);
        padding: 10px;
        backdrop-filter: blur(10px);
    }

    .gDialogTitle {
        background-color: var(--dialog-title-bg);
        padding: 10px 5px;
        font-size: 18px !important;
        margin-bottom: 0 !important;
        font-weight: 500 !important;
        font-family: system-ui !important;
        text-align: center;
        color: #000;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0 0;
    }

    .gDialogCloseButton {
        color: #000;
        padding: 0;
        font-weight: 900;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        min-width: 30px;
        background-color: var(--button-dialog-close-bg-color);
        line-height: 29px;
        border: 1px solid transparent;

        .mat-icon {
            font-size: 22px;
            line-height: 29px !important;
        }

        .fa {
            font-size: 22px;
            line-height: 29px !important;
        }
    }

    .gDialogCloseButton:hover {
        background-color: var(--button-dialog-close-hover-bg-color);
        color: #fff;
    }
}

::ng-deep.mat-progress-spinner svg,
.mat-progress-spinner {
    height: 60px !important;
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--button-save-color);
    stroke-width: 10% !important;
    stroke-dasharray: 50px !important;
}

.circle1,
.circle2 {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.1));
    position: absolute;
}

.circle1 {
    top: 7%;
    right: 5%;
    border-radius: 48% 52% 22% 78% / 70% 23% 77% 30%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.rowClick {

    border: none;

    outline: none;

    box-shadow: 0px 8px 19px var(--table-tr-hover) !important;

    td {

        background-color: var(--dialog-title-bg) !important;

        color: #000 !important;

        .gEditIcon,
        .gHandIcon {

            color: #ffffff !important;

            border-radius: 50%;

        }

    }

}